.cliente-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cliente-table th,
.cliente-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.cliente-table th {
  background-color: #f2f2f2;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
